.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 20px auto;
  width: 40%;
}

.pagination > li {
  border: 2px solid rgb(245, 25, 25);
  min-width: 30px;
  border-radius: 15px;
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
  color: black;
}

.pagination > li:last-child > a,
.pagination > li:nth-child(1) > a {
  margin: auto 10px;
  color: black;
}
